<% if user_signed_in? %>
  <% if current_order %>
  <li><%= "<a href='/users/#{current_user.id}/orders/#{current_order.id}'><i class='fa fa-shopping-cart fa-lg' style='padding-right:2px'></i> (#{current_order.cards.count})</a>".html_safe %></li>
  <% else %>
  	<li>Cart (0)</li>
  <% end %>
  <li><%= link_to('My Account', profile_path) %></li>
<% else %>
  <li><%= link_to('Sign Up', new_user_registration_path)  %></li>
<% end %>