<div id="welcome" class="units-container">
	<div class="units-row units-padding">
		<!-- <div class="unit-100"> -->
			<h1>We make sending cards easy.</h1>
		<!-- </div> -->
		<div class="units-row units-padding">
		    <div class="unit-33">
		    	<img src="images/card-circle.png" alt="">
		    	<h3>Pick a card and write a message</h3>
		    </div>
		    <div class="unit-33">
			    <img src="images/friends-circle.png" alt="">
		    	<h3>Choose a bunch of people to send it to</h3>
		    </div>
		    <div class="unit-33">
			    <img src="images/mailbox-circle.png" alt="">
		    	<h3>We'll handle the mailing for you</h3>
		    </div>
		</div>
	</div>
</div>
<div id="cardCollection" class="units-container">
	<div class="units-row units-padding">
		<div class="unit-100">
			<h1>Our Cards</h1>
		</div>
		<ul class="bxslider">
		  <li><img style="width:300px" src='/card_templates/birthday-1-thumb.png' /></li>
		  <li><img style="width:300px" src='/card_templates/birthday-2-thumb.png' /></li>
		  <li><img style="width:300px" src='/card_templates/birthday-3-thumb.png' /></li>
		</ul>
	</div>
</div>