<div class="units-row units-padding">
    <h2>Order History and Queued Cards</h2>
	<% current_user.orders.each do |order| %>
		<ul>
			<li>Order #: <%= order.id %>
				<% order.cards.each do |card| %>
					<% card.cardlings.each do |cardling| %>
					<ul>
						<li>Card #: <%= cardling.id %> |
						<% if cardling.status == "processed" %>
							Delivery Status: <%= cardling.status.capitalize %> and on it's way!
							<% else %>
								Delivery Status: <%= cardling.status.capitalize %>
							<% end %>
						</li>
					</ul>
					<% end %>
				<% end %>
			</li>
		</ul>
	<%end%>


  
</div>