// $main-font: 'Arial', sans-serif;

/****************** GENERAL *****************/
html, body {
	// font-family: $main-font;
	// padding: 0;
}
/********************************************/


/**************** NAVIGATION ****************/
nav {
	background-color: #ccc;
	width: 100%;
	text-align: center;
	#navLinks {
		margin: 0 auto;
		li {
			display: inline-block;
			margin: 20px;
		}
	}
}
/********************************************/


/****************** CARDS *******************/
.templateThumb {
	width: 200px;
	display:block;
	padding: 10px 0;
}
/********************************************/