// $main-font: 'Arial', sans-serif;

/****************** GENERAL *****************/
html, body {
	// font-family: $main-font;
	// padding: 0;
}
.units-container {
	padding: 30px;
}
ul li {
	list-style-type:none;
}
.unit-33, .unit-25 {
	text-align:center;
}
/********************************************/


/**************** NAVIGATION ****************/
nav {
	background-color: #ccc;
	width: 100%;
	text-align: center;
	#navLinks {
		margin: 0 auto;
		li {
			display: inline-block;
			margin: 20px;
		}
	}
}
ul#menu, ul#menu ul.sub-menu {
    padding:0;
    margin: 0;
}
ul#menu li, ul#menu ul.sub-menu li {
    list-style-type: none;
    display: inline-block;
}
/*Link Appearance*/
ul#menu li a, ul#menu li ul.sub-menu li a {
    text-decoration: none;
    color: #fff;
    background: #666;
    padding: 5px;
    display:inline-block;
}
/*Make the parent of sub-menu relative*/
ul#menu li {
    position: relative;
}
/*sub menu*/
ul#menu li ul.sub-menu {
    display:none;
    position: absolute;
    top: 30px;
    left: 0;
    width: 100px;
}
ul#menu li:hover ul.sub-menu {
    display:block;
}
/********************************************/


/****************** CARDS *******************/
.templateThumb {
	width: 100%;
	padding: 10px 0;
}
.textArea {
	width: 400px;
	height: 200px;
}
/********************************************/