// $main-font: 'Arial', sans-serif;
// $green: #4EA68D;
$green: #478DB2;
$red: #AD1920;

@font-face {
   font-family: 'SofiaProLight';
    src: url('/fonts/SofiaProLight.otf');

}

/****************** GENERAL *****************/
html, body {
	// font-family: $main-font;
	// padding: 0;
	background-image: url('/images/debut_light.png');
	background-attachment: fixed;
	background-color:rgba(0,0,0,0);
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Muli', Helvetica, Arial, sans-serif;
}
h1 {
	font-size: 30px;
}
h2 {
	font-size: 28px;
	margin-bottom: 0;
	padding-bottom: 0;
}
// h4 {
// 	font-family: "helvetica", arial;
// }
a {
	text-decoration:none;
}
.units-container {
	padding: 30px;
}
.unindentedList {
	list-style-type: none;
    list-style-position:inside;
    margin:0;
}
// .unindentedList li {
// 	padding-bottom: 12px;
// }
.unit-33, .unit-25 {
	text-align:center;
}
.general-container {
	padding-top:90px;
}
button, input[type="submit"], .btn {
	background-color: $green;
	margin:5px 1px;
	color:white;
}
button:hover, input[type="submit"]:hover, .btn:hover {
	background-color: $green;
	opacity:.7;
	color:white;
}
i {
	margin: 0 4px;
}
.dropdownTrigger {
	cursor: pointer;
}
/********************************************/


/**************** NAVIGATION ****************/
nav {
	// padding:10px;
	z-index:999;
	background-color: $green;
	width: 100%;
	text-align: center;
	overflow: auto;
	font-family: 'Muli', sans-serif;
	font-size: 11pt;
	color: white;
	position: fixed;
	a {
		text-decoration: none;
		color: white;
	}
	a:hover {
		color:white;
		opacity:.6;
	}
	#logo a:hover {
		opacity: 1;
	}
	#logo {
		font-family: 'SofiaProLight', 'Muli', sans-serif;
		display: inline-block;
		float: left;
		margin: 18px 16px;
		font-size: 18pt;
	}
	#navLinks {
		display: inline-block;
		float: right;
		margin: 0 auto;
		li {
			display: inline-block;
			margin: 18px 16px;
		}
	}
}
/********************************************/


/****************** HOME *******************/
#welcome {
		padding-top: 100px;
		background-color: $green;
		text-align:center;
	h1 {
		font-family: 'Pacifico', sans-serif;
		font-size: 50pt;
		color:white;
		margin-top: 10px;
		margin-bottom: 50px;
	}
	h3 {
		color: white;
		font-family: 'Muli', sans-serif;
		font-size: 14pt;
	}
	img {
		width: 90%;
		padding-bottom: 25px;
	}
}
#cardCollection {
	h1 {
		font-family: 'Muli', sans-serif;
		font-size: 30pt;
		color: black;
		margin-bottom: 20px;
	}
}
/********************************************/


/****************** SIGN IN / SIGN UP *******************/
.signUpsignIn {
	background-color: white;
	display:inline-block;
	padding: 30px;
	margin: auto 0;
}

input[type="email"], input[type="password"], input[type="text"], textarea {
	margin:10px 0;
	margin-bottom:20px;
}
/********************************************/


/****************** PROFILE PAGE *******************/
.profile_AddressTable {
	background-color:white;
	margin-top:10px;
}
#profile_MyCards {
	text-align:center;
	.unindentedList {
		list-style-type: none;
	    list-style-position:inside;
	    margin:0;
	}
}
#profileContainer {
	h2 {
		padding-bottom:10px;
	}
}
/********************************************/


/****************** CARDS *******************/

.templateThumb {
	width: 100%;
	padding: 10px 0;
}
.textArea {
	width: 100%;
	height: 200px;

}
/********************************************/


/************* FLASH MESSAGES ***************/
.flashMessages {
	background-color:white;
	overflow:auto;
	padding: 3px 10px 0px 10px;
	cursor: pointer;
	h5 {
		font-size: 15px;
		display: inline-block;
		float: left;
	}
}
.dismissFlash {
	float: right;
}
#flashNotice h5 {
	color: $green;
}
#flashAlert h5 {
	color: $red;
}
/********************************************/